.contact_section {
    min-height: calc(100vh - 2em);
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
}

.cite_container {
    position: relative;
    margin-left: 2em;
}

.cite_container svg {
    max-height: 4em;
    position: absolute;
    opacity: 0.05;
}

.cite_container p {
    max-width: 30em;
    font-size: 0.5em;
    opacity: 0.7;
    padding: 3em;
    color: var(--secondary-color);
}

.contact_section p cite {
    display: block;
    font-size: 2em;
    margin-bottom: 1.2em;
    color: var(--secondary-color);
    font-weight: 400;
    
}

form {
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 1em;
    box-sizing: border-box;
    gap: 0.5em;
}

form h2 {
    font-size: 1.6em;
    font-weight: 400;
    color: var(--secondary-color);
    align-self: flex-start;
}

form input {
    height: 3.5em;
    padding: 1em;
    width: 100%;
    border: 1px solid var(--secondary-color-subtle);;
    border-radius: 0.25em;
    color: var(--secondary-color);
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1rem;

    box-sizing: border-box;
    background-color: var(--primary-color-background);
}

form textarea {
    width: 100%;
    height: 15em;
    padding: 1em;
    border-radius: 0.25em;
    border: 1px solid var(--secondary-color-subtle);;
    resize: none;
    color: var(--secondary-color);
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1rem;

    box-sizing: border-box;
    background-color: var(--primary-color-background);
}

form input::placeholder,
form textarea::placeholder {
    font-family: 'Montserrat';
    font-weight: 200;
    opacity: 0.5;
    font-size: 1.2em;
    color: var(--secondary-color);
}

form label {
    font-size: 0.6em;
    font-weight: 300;
    align-self: flex-start;
    color: var(--secondary-color);
    margin-left: 0.25em;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
    color: transparent;
}

form input:focus,
form textarea:focus {
    border: 1px solid var(--accent-color-lilac);
    outline: none;
    box-shadow: 0 0 0.5em var(--accent-color-lilac);
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color-background);
    color: var(--secondary-color);
    font-family: 'Montserrat';
    font-weight: 300;
}

form button {
    background-color: var(--accent-color-lilac);
    color: var(--secondary-color);
    border-radius: 1em;
    border: none;
    padding: 0.5em 1em;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    margin: 0.5rem 0.5rem;
}

@media screen and (max-width: 1200px) {
    form {
        width: 100%;
    }
    .contact_section {
        flex-direction: column-reverse;
        padding: 0;
    }

    form h2 {
        margin-bottom: 1.2em;
    }

    .cite_container {
        margin-top: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    form textarea {
        height: 10em;
    }


    form input::placeholder,
    form textarea::placeholder {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 100%;
    }

    form h2 {
        font-size: 1.4em;
    }

    form input,
    form textarea {
        font-size: 0.9rem;
    }

    form input::placeholder,
    form textarea::placeholder {
        font-size: 1em;
    }

    form button {
        width: 100%;
        font-size: 0.8em;
    }

    .cite_container p {
        font-size: 0.5em;
        padding: 2em;
    }

    .cite_container svg {
        max-height: 3em;
    }

    .cite_container p cite {
        font-size: 2em;
    }
}