.privacy-policy-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 100vw;
    padding: 2rem;
    background-color: var(--primary-color-background);
    color: var(--secondary-color);
    line-height: 1.6;
    margin-top: 4rem;
}

.privacy-policy-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.privacy-policy-date {
    font-size: 1rem;
    color: var(--secondary-color-subtle);
    margin-bottom: 1rem;
}

.privacy-policy-section-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.privacy-policy-text {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.privacy-policy-list {
    list-style-type: disc;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.privacy-policy-list li {
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
    font-size: 1rem;
}

@media (min-width: 1024px) {
    .privacy-policy-container {
        max-width: 800px;
        margin: 2rem auto;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .privacy-policy-title {
        font-size: 2.5rem;
    }
    .privacy-policy-section-title {
        font-size: 1.75rem;
    }
    .privacy-policy-date {

        margin-bottom: 2rem;
    }

}
