.projects_section{
    min-height: calc(100vh - 2em);
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}
.projects_title {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    text-align: flex-start;
    margin-left: 2em;
    text-transform: uppercase;
}