.projects_section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;
    position: relative;
}

.projects_section button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: opacity 1s ease 3.2s;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    width: 3em;
    height: 3em;
    opacity: 0.5;
    animation: jump 2s infinite;
}
.projects_section button svg {
    width: 100%;
    cursor: pointer;
}

.navigation_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 4em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.navigation_wrapper h2 {
    font-size: 0.8em;
    font-weight: 200;
    margin: 0 1em;
    color: var(--primary-font-color);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
}

.tab_container h2{
    white-space: nowrap;
}


.navigation_wrapper h2.active,
.navigation_wrapper h2:hover {
    border-bottom: 1px solid var(--primary-font-color);
}

.mockup_wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mockup_wrapper img {
    width: 32em;
    max-width: 100dvw;
}


.project_description_wrapper {
    max-width: 40em;
    font-size: 0.8em;
    min-height: 10em;
    font-family: 'Source Sans 3', sans-serif;
    color: var(--lighter-font-color);
    font-weight: 200;
    padding: 0 0.1em 1em 1em;
}

@keyframes jump {

    0%,
    100% {
        transform: translate(-50%, -50%) translateY(0);
    }

    50% {
        transform: translate(-50%, -50%) translateY(-1em);
    }
}