.contact_section {
    background-color: var(--secondary-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;

}

form {
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    font-size: 1em;
    box-sizing: border-box;
    gap: 0.5em;
}

form h2 {
    font-size: 1em;
    font-weight: 400;
}

form input {
    height: 3em;
    padding: 0.5em;
    width: 100%;
    border: none;
    border-radius: 0.25em;
}

form input::placeholder {
    color: var(--secondary-font-color);
}

form label {
    font-size: 0.8em;
    font-weight: 200;
    align-self: flex-start;
    color: var(--secondary-font-color);

}

form input:focus::placeholder,
form textarea:focus::placeholder {
    color: transparent;
}


form textarea {
    width: 100%;
    height: 15em;
    padding: 0.5em;
    border-radius: 0.25em;
    border: none;
    resize: none;
}

form button {
    width: 15em;
    border: 1px solid var(--primary-font-color);
    border-radius: 0.25em;
    padding: 0.5em;
    background-color: transparent;
    color: var(--primary-font-color);
    margin: 1em 0;
    cursor: pointer;
}

form button:hover {
    background-color: var(--secondary-font-color);
    color: var(--secondary-color);
    transition: all 0.3s;
}