.learn-more {
  width: 12rem;
  height: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.learn-more .circle {
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--secondary-color);
  border-radius: 1.625rem;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.learn-more .circle .icon.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--secondary-color);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.learn-more:hover .circle {
  width: 100%;
}

.learn-more:hover .circle .icon.arrow {
  transform: translate(1rem, 0);
  background: #fff;
}

.learn-more:hover .button-text {
  color: #fff;
}

@media (max-width: 1024px) {
  .learn-more {
    width: 10rem;
  }

  .learn-more .circle {
    width: 2.5rem;
    height: 2.5rem;
  }

  .learn-more .circle .icon.arrow {
    display: none;
  }

  .learn-more .button-text {
    margin: 0;
    padding: 0.6rem 0;
    text-align: center;
  }

  .learn-more .circle {
    width: 100%;
  }

  .learn-more .button-text {
    color: #fff;
  }
}