.custom-button-plain {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.custom-button-plain .button-text {
    color: var(--secondary-color);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .custom-button-plain {
        padding: 8px 16px;
        font-size: 14px;
    }
    .custom-button-plain .button-text {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .custom-button-plain {
        padding: 6px 12px;
        font-size: 12px;
    }
    .custom-button-plain .button-text {
        font-size: 10px;
    }
}