.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.copyright_wrapper h3 {
    margin: 0;
    padding: 1em;
    font-size: 1rem;
    font-weight: 300;
    color: var(--secondary-color);
    font-family: 'Source Sans 3', sans-serif;
}

.social_media_wrapper {
    display: flex;
    gap: 0.8em;
    padding: 0 0.8em;
}

.social_media_wrapper a svg {
    width: 0.8em;
    cursor: pointer;
}
.links_wrapper h3{
    margin: 0;
    padding: 1em;
    font-size: 1rem;
    font-weight: 300;
    color: var(--secondary-color);
    font-family: 'Source Sans 3', sans-serif;
}

/* Media query for tablets */
@media (max-width: 768px) {
    .footer {
        align-items: flex-start;
    }

    .copyright_wrapper h3 {
        font-size: 0.75em;
        padding: 0.8em;
    }

    .social_media_wrapper {
        padding: 0.5em;
    }

    .social_media_wrapper a svg {
        width: 1em;
    }
}

/* Media query for mobile */
@media (max-width: 480px) {
    .footer {
        align-items: center;
        text-align: center;
    }

    .copyright_wrapper h3 {
        font-size: 0.75rem;
        padding: 0.5rem;
        line-height: 1.5;
    }

    .copyright_wrapper h3 br {
        display: inline;
    }

    .social_media_wrapper {
        gap: 0.5rem;
    }

    .social_media_wrapper a svg {
        width: 0.9rem;
    }
}