.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.copyright_wrapper h3 {
    margin: 0;
    padding: 1em;
    font-size: 0.6em;
    font-weight: 300;
    color: var(--secondary-color);
    font-family: 'Source Sans 3', sans-serif;
}

.social_media_wrapper {
    display: flex;
    gap: 0.8em;
    padding: 0 0.8em;
}

.social_media_wrapper a svg {
    width: 0.8em;
    cursor: pointer;
}