.language-switcher{
    display: flex;
    flex-wrap: nowrap;
}
.language-link {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
}

.language-link:hover {
    text-decoration: underline;
}

.language-link.active {
    text-decoration: underline;
}

.separator {
    margin: 0 5px;
    color: var(--secondary-color-subtle)
}

@media (max-width: 768px) {
    .language-link {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .language-link {
        font-size: 0.8rem;
    }
}
