.language-link {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
}

.language-link:hover {
    text-decoration: underline;
}

.language-link.active {
    text-decoration: underline;
}

.separator {
    margin: 0 5px;
    color: var(--secondary-color-subtle)
}
