.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--accent-color-hover);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;

  /* Animation part */
  transform: translateX(100%);
  animation: slideIn 0.3s forwards;
}

.mobile-menu-content h3 {
  color: var(--primary-color-background);
  margin: 1rem 0;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 400;
  transition: font-weight 0.3s ease;
}

.mobile-menu-content h3 button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.nav-item-mobile.active {
  font-weight: 700;
  color: var(--primary-color-background);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--primary-color-background);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.no-scroll {
  overflow: hidden;
}

/* Animation Keyframes */
@keyframes slideIn {
  from {
    transform: translateX(100%); /* Start from outside the screen */
  }
  to {
    transform: translateX(0); /* Slide into view */
  }
}
