.technology_chip {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 4px;
  max-width: 200px; /* Adjust the max-width as needed */
}

.technology_chip img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  flex-shrink: 0;
}

.technology_chip span {
  font-size: 14px;
  color: #333;
  flex-grow: 1;
}

.technology_chip_text {
  font-size: 14px;
  color: #333;
  flex-grow: 1;
}
