.technologies_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 4rem;
}

@media (max-width: 768px) {
  .technologies_container {
    gap: 6px;
    margin: 2rem;
  }
}

@media (max-width: 480px) {
  .technologies_container {
    gap: 4px;
    margin: 1rem;
  }
}

