:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #ffff;
  --secondary-color: #f4f4f4;
  --primary-font-color: #202020;
  --secondary-font-color: #333333;
  --lighter-font-color: #666666;
  box-sizing: border-box;

  overscroll-behavior: none;
}

body {
  min-height: 100dvh;
  padding: 0;
  margin: 0;
  font-size: 32px;
  padding: 0 1em 0 1em;
}

@media (max-width: 648px) {
  body {
    font-size: 24px;
  }
}

@media (max-width: 468px) {
  body {
    font-size: 18px;
  }
}

@font-face {
  font-family: 'Rinnero';
  font-style: normal;
  src: url('../fonts/Rinnero.ttf') format('ttf');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  src: url('../fonts/Roboto-Thin.ttf') format('ttf');
}