*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  --primary-color-dark: #121212;
  --secondary-color: #f4f4f4;
  --faded-color-pink: #ff00557e;
  --very-faded-color-pink: #ff00550c;
  --full-color-pink: #ff0077;
  --full-color-turquoise: #41ead4;
  --faded-color-turquoise: #41ead41c;
  --primary-font-color: #121212;
  --text-color: #b0b0b0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  margin: 0;
  font-size: 32px;
  background-color: var(--primary-color-dark);
}

@media (max-width: 648px) {
  body {
    font-size: 24px;
  }
}

@media (max-width: 468px) {
  body {
    font-size: 18px;
  }
}
