*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face{
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Red Hat Display';
  src: url('/fonts/RedHatDisplay-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color-background: #F9F9F6;
  --secondary-color: #1C1C1E;
  --accent-color-lilac: #C6B8E9;
  --accent-color-hover: #A99AD3;
  --secondary-color-subtle: #7D7D85;

  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  margin: 0;
  font-size: 32px;
  background-color: var(--primary-color-background);
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

nav {
  padding: 0; 
}

@media (max-width: 648px) {
  body {
    font-size: 24px;
  }
}

@media (max-width: 468px) {
  body {
    font-size: 18px;
  }
}
